{% extends "layout.html" %}

{% block content %}
<div class="center-block">
  <h1 class="text-center">オラ競馬予想すっぞ！</h1>
  <div class="fixed-top">
    <a href="{{ url_for('new_race_date_index') }}">新しいレース日程</a>
  </div>
</div>
<div class="container-fluid">
  <div class="center-block mt-4 mb-2">
    <div class="text-center">
      <h2>直近半年間のレース一覧</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <table class="table table-striped text-center">
            <tr class="sticky-top">
              <th>レース開催日</th>
              <th>レースid</th>
              <th>予測精度</th>
            </tr>
            <tbody>
              {% for data in race_data %}
              <tr>
                <td>{{ data.race_date }}</td>
                <td><a href="{{ url_for('show_race_detail', race_id=data.race_id) }}">{{ data.race_id }}</a></td>
                {% if data.predict_flag == True %}
                <td>OK</td>
                {% elif data.predict_flag == False %}
                <td>不十分</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
