{% extends "layout.html" %}

{% block content %}
<div class="center-block">
  <h1 class="text-center">オラ競馬予想すっぞ！</h1>
</div>
<div class="container-fluid">
  <div class="center-block mt-4 mb-2">
    <div class="text-center">
      <h2>直近のレース日程はこちら！</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <table class="table table-striped text-center">
            <tr>
              <th>レース開催日</th>
            </tr>
            <tbody>
              {% for date in race_dates %}
              <tr>
                <td><a href="{{ url_for('new_race_id_index', race_date=date) }}">{{ date }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
