{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="center-block">
    <div class="text-center">
      <h2>開催日: 不明</h2>
      <p>レースid: {{ race_id }}(現状このレースの予定はありません)</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th>着順</th>
                <th>馬名</th>
                <th>騎手</th>
                <th>単勝オッズ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
