{% extends "layout.html" %}

{% block content %}
<div class="center-block">
  <h1 class="text-center">オラ競馬予想すっぞ！</h1>
</div>
<div class="container-fluid">
  <div class="center-block mt-4 mb-2">
    <div class="text-center">
      <h2>直近半年間の未取得レース日程一覧</h2>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <table class="table table-striped text-center">
            <tr>
              <th>レース開催日</th>
              <th></th>
            </tr>
            <tbody>
              {% for date in race_dates %}
              <tr>
                <td>{{ date }}</td>
                <td>
                  <form action="{{ url_for('get_new_datum', race_date=date) }}", method="POST">
                    <button type="submit" class="btn btn-primary">データ取得</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
