{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="center-block">
    <div class="text-center">
      <h2>開催日: {{ race_data.date }}</h2>
      <p>レースid: {{ race_data.race_id }}</p>
    </div>
    <table border="1" class="text-center">
      <thead>
        <tr>
          <th>着順</th>
          <th>馬名</th>
          <th>騎手</th>
          <th>単勝オッズ</th>
        </tr>
      </thead>
      <tbody>
        {% for data in race_data %}
        <tr>
          <td>{{ data.order }}</td>
          <td>{{ data.horse_name }}</td>
          <td>{{ data.jockey_name }}</td>
          <td>{{ data.odds }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
